.mainEventos {
  section {
    margin: 10px;
    padding: 10px;
    text-align: justify;
    justify-content: center;
    p {
      margin: 10px;
      padding: 10px;
    }
  }
}

.spanEventos {
  margin: 10px;
  padding: 10px;
  border: dashed black 2px;
}
.tablaTitulos {
  text-align: center;
}
.tablaEventos {
  border: double black 2px;
  background-color: #00f2fe;
}
